[Unit]
Description=deconz2mqtt
Requires=network.target

[Service]
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/pi/deconz2mqtt
ExecStart=/bin/python3 /home/pi/deconz2mqtt/deconz2mqtt.py --config /homw/pi/deconz2mqtt/deconz2mqtt.yaml
User=pi

[Install]
WantedBy=multi-user.target
